/vendor
composer.phar
composer.lock
.DS_Store

.idea/.name

.idea/blade.xml

.idea/copyright/profiles_settings.xml

.idea/CrudMaker.iml

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/workspace.xml
